.linetitleMiembros{
    padding: 40px 100px 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
   
}
.Seccion-Content-Miembros-text p{
    font-family: var(--ff-text-p-legal);
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.7;
    font-size: 1rem;
}
.Seccion-Content-Miembros{
    padding-top: 50px;
    display: flex;
}


.content-form-miembros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.div-ContentAll-Miembros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .linetitleMiembros{
        padding: 40px 10px 100px 10px;
    }
}