.line-Separ{
    margin: 15px 0;
    position: relative;
    width: 100%;
    height: 1px;
    background: var(--clr-color-line3);
}

.line-Separ::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 70px;
    height: 1px;
    margin-left: -35px;
    background: var(--clr-color-line2);
}
