.section-Gestion{ display: flex;
    padding: 40px 100px 40px 100px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 100px;}

.section-Gestion h2{
    padding-left: 10%;
    padding-right: 10%;
}
