.section-noticias{
    display: flex;
    padding: 40px 100px 40px 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

