.section-noticias{
    display: flex;
    padding: 40px 100px 60px 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


@media screen and (max-width: 768px) {

    .section-articulos{
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
}
