.fondoInicio{
display: flex;
justify-content: center;
    align-items: center;
width: 100%;
background: linear-gradient(#01040cb5, rgb(38 58 80 / 3%)),url('/public/img/opcionA.jpg');
height: 900px;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}



.inicio-secA{
    /*background: var(--clr-color-background2);*/
    background: url('/public/img/banner-Espe.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    transform: translate(0px, 1.13px);
    
}

.inicio-secA h2{
    padding-bottom: 20px;
    color: white;
    font-weight: 700;
}

.inicio-secA h3{
    padding-bottom: 20px;
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
    
}

.inicio-SecA-btnsect{
    margin-top: 10px;
    margin-bottom: 10px;

}

.inicio-secB{
    
  padding: 50px 50px;
}

.inicio-secB h2{
    font-weight: 800;
    text-align: center;
    padding-top: 0;
    font-size: 1.2em !important;
}

.inicio-secC{
    background: var( --clr-color-section1);
    padding-top: 96px;
    padding-bottom: 20px;
}


.inicio-secD{
    background: var( --clr-color-section1);
    padding: 50px 50px 400px 5%;

    
}

.group-Card-inicio{
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    justify-content: center;
}

.inicio-area-asesoria{

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio-area-gestion{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio-secC-title{
    text-align: center;
    padding-bottom: 30px;
}

.p-padding-inicio-text{
    padding-left: 100px;
    padding-right: 100px;
}
.p-textoEstandar{
    font-family: var(--ff-text-p-legal);
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
    font-size: var(--ft-tamaño-pgeneral);
    letter-spacing: 1.2px;
    line-height: 2.3;
}



.edit-title-h2-secC{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold !important;
    font-size: 2.5rem !important;
}

.content-inicio-p-sub-line-all{
    display: flex;
    padding-inline: 5vw;
    padding-bottom: 100px;
    align-items: flex-start;
}


.content-inicio-sub-lin{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-inicio-sub-lin h2{
    font-family: var(--ff-title);
    color: var(--clr-color-article-title);
    font-size: 1.5rem;
    width: 12rem;
    line-height: 1.5;
}

.content-inicio-sub-lin div{
    text-align: center;
    margin: 0 0 0 40px;
    position: relative;
    margin-top: 17px;
    width: 32px;
    height: 0;
}

@media screen and (max-width: 768px) {

    .content-inicio-sub-lin {
        padding-left: 10px;
    }
.inicio-secA h3{text-align: center;
}

    .content-inicio-p-sub-line-all{
        flex-direction: column;
    }

    .group-Card{
        display: flex;
        width: 80%;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}