.SectionFAQLIST{
    padding: 50px 100px 100px 100px;
}

.Titleh2-FaQ-Section{
    display: flex;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items:flex-start;
}


@media screen and (max-width: 768px){
    .SectionFAQLIST {
        padding: 100px 10px 100px 10px;}
}