.section-contain-Asesoria-all{
    padding: 40px 100px 40px 0px;
}
.Seccion-CardsServicios{
    display: flex;
    padding-left: 9%;
    /* padding-right: 4%; */
    padding-bottom: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section-Asesoria{
    display: flex;
    /* padding: 40px 100px 40px 0px; */
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.section-Asesoria p{
font-family: var(--ff-text-p-legal);
margin-top: 20px;
font-weight: 500;
text-align: justify;
line-height: 1.7;
font-size: 0.9rem;
padding-left: 10%;
    padding-right: 10%;
}

.section-Asesoria h2{
    padding-left: 10%;
    padding-right: 10%;
}

.section-Asesoria h3{
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.tamlinasesor{
    padding-left: 10%;
    padding-right: 10%;
}