

.nav-list li{
    padding: 5px;
}


.nav-list a{
    color: var(--clr-color-nav-bar);

    font-weight: 600;
    text-decoration: none;
}

.nav-list a:hover{
   
    color: var( --clr-color-hover-text1);
}

