
header{
    width: 100%;
    position: absolute;
    position: fixed;
}

.scrolled {
    background-color: #00000094;
    z-index: 999;
    opacity: .7;
}

nav {
    display: flex;
    letter-spacing: 1px;
    padding: 1em 0;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.95rem;
    letter-spacing: 1.4px;
    font-family: var(--ff-textp);
    
}

