
header{
    width: 100%;
    position: absolute;
    position: fixed;
}

.scrolled {
    background-color: rgb(0 0 0 / 58%);
    z-index: 999;
}

nav {
    display: flex;
    font-size: 0.9rem;
    padding-top: 10px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--ff-nav-bar);
    
}