.Asesoria-Section-g{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5rem;
}

.Asesoria-detail-content{
    display: flex;
  
    padding-left: 100px;
    padding-bottom: 100px;
    width: 68%;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Asesoria-detail-content h2{
    margin-bottom: 18px;
 
}

.Asesoria-detail-content h3{
    margin-bottom: 18px;
 
}



.Asesoria-detail-content p{
    font-family: var(--ff-text-p-legal);
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.7;
    font-size: 0.9rem;
}

.link-Asesoria{
    font-family: var(--ff-text-p-legal);
font-weight: 600;
    color:var(--clr-color-subtitle);
    font-size: 0.9rem;
    text-decoration: none;
}

.link-Asesoria:hover{
    transition: 0.5s;
    color: var(--clr-color-article-title);
}


@media screen and (max-width: 768px) {

    .Asesoria-Section-g{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    flex-direction: column;
}

.Asesoria-detail-content{
    padding-left: 0;
}
}

