
.contentTitleh1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentTitleh1 h1{
    opacity: 0;
    transition: 0.5s;
    padding-top: 0;
    margin-bottom: 0;
    letter-spacing: 0;
    font-family: var(--ff-title);
    color: var(--clr-color-title);
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
}

.contentTitleh1-visible h1{
    transition: 0.9s;
    padding-top: 70px;
    margin-bottom: 0;
    letter-spacing: 0;
    font-family: var(--ff-title);
    color: var(--clr-color-title);
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
   
}