footer{
    width: 100%;
    display: flex;
    padding: 20px 60px 20px 0px;
    background: #000;
    border-top: 4px solid #fff;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: #7e7e7e;
}


.div-footer-copyright{
    width: 32%;
}

.div-footer-logo{
    width: 33.33%;
}